.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My own CSS */
.main-div{
  display: grid;
  background-color: #faf0e6;
}

.app-logo{
  width: 600px;
  justify-self: center;
  margin-top: 20px;
}

*:focus{
  outline-color: #00000047;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00000026;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #00000012;
}

/* BINGO */

.bingo-page{
  display: grid;
}

.generate-button{
  justify-self: center;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: larger;
  border-radius: 35px;
  background-color: #fbdfc3;
  border: solid 3px #f8c693;
  color: #4b423a;
  cursor: pointer;
}

.main-bingo{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  padding: 1px;
  text-align: center;
  width: fit-content;
  background-image: linear-gradient(135deg, #ffc6ff, #BDB2FF, #A0C4FF, #9BF6FF, #FDFFB6, #FFD6A5, #FFADAD);
  border-radius: 20px;
  justify-self: center;
}

.villager-slot{
  padding: 3px;
  position: relative;
  width: 130px;
  height: 130px;
}

.villager-img-slot{
  width: 130px;
  height: 130px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 20px;
}

.villager-name-slot{
  margin: 0px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

.villager-name-slot span {
  padding: 2px 10px;
  border-radius: 20px;
  margin-bottom: 3px;
}

.check-mark{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  font-size: 130px;
  color: #58a8ff;
  text-shadow: 2px 2px #0000005c;
}

.check-mark.active{
  visibility: visible;
}

.check-mark.inactive{
  visibility: hidden;
}

/* SEARCH */

.villager-search{
  justify-self: center;
  display: grid;
  justify-items: center;
}

.villager-search-title{
  color: #626161;
  margin-bottom: 10px;
}

.autocomplete{
  display: inline-flex;
}

.autocomplete input{
  border-radius: 20px;
  margin: 0 5px;
  background-color: #f6e3d1;
  border-color: #f2cba682;
  border-style: solid;
  padding: 3px 10px;
  color: #7d7d73;
}

.input-block{
  position: relative;
}

.input-block span{
  position: absolute;
  right: 20px;
  font-size: small;
  color: #7d7d73;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.autocomplete button{
  background-color: #f6f6d1;
  border-style: solid;
  border-radius: 20px;
  border-color: #e5e580;
  padding: 3px 10px;
  color: #7d7d73;
  height: fit-content;
  cursor: pointer;
}

.suggestions{
  background-color: #f6e3d1c7;
  margin: 0px 5px;
  padding: 5px 0;
  border-radius: 10px;
  color: #7d7d73;
  height: 100px;
  overflow-y: overlay;
}

.suggestions li{
  list-style-type: none;
  padding: 3px 10px;
  cursor: pointer;
}

/* .active {
  background-color: #f2cba682;
} */

.villagers-selection{
  display: flex;
}

.villager-container{
  position: relative;
  width: 70px;
  height: 70px;
  margin: 10px 5px;
  display: flex;
  text-align: center;
}

.villager-bubble{
  position: relative;
  width: 60px;
  height: 80px;
}

.villager-icon{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 200px;
  border: solid 3px;
}

.villager-icon-name{
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.villager-icon-name span {
  padding: 2px 10px;
  border-radius: 20px;
  margin-bottom: 3px;
  font-size: smaller;
}

.delete{
  position: absolute;
  right: 0;
  top: 5px;
  margin: 0;
  cursor: pointer;
}

.delete span{
  background-color: #ffffffb8;
  padding: 5px 10px;
  border-radius: 200px;
  font-size: small;
  color: #7d7d74;
}

.divider{
  height: 5px;
  border-radius: 5px;
  margin-top: 30px;
  background-image: linear-gradient(to left, #ffc6ff, #BDB2FF, #A0C4FF, #9BF6FF, #FDFFB6, #FFD6A5, #FFADAD);
  width: 350px;
}